<%- include('layout/header') %>

  <div class="container">
    <div class="table-wrapper">
      <% if (message) { %>
        <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="close"></button>
          <strong><%= message.message %></strong>
        </div>
        <% } %>
      <div class="table-title">
        <div class="row">
          <div class="col-sm-6">
            <h2>All <b>Users</b></h2>
          </div>
          <!-- <div class="col-sm-6">
            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>
            <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i
                class="material-icons">&#xE15C;</i> <span>Delete</span></a>
          </div> -->
        </div>
      </div>
      <% if (users != '') { %>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>
                <span class="custom-checkbox">
                  <input type="checkbox" id="selectAll">
                  <label for="selectAll"></label>
                </span>
              </th>
              <th>ID</th>
              <th>Image</th>
              <th>Name</th>
              <th>Email</th>
              <th>Address</th>
              <th>Phone</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
           <% users.forEach((row, index) => {  %>
            <tr>
              <td>
                <span class="custom-checkbox">
                  <input type="checkbox" id="checkbox1" name="options[]" value="1">
                  <label for="checkbox1"></label>
                </span>
              </td>
              <td><%= index %></td>
              <td><img src="<%= row.image %>" width="50" class="img-thumbnail"></td>
              <td><%= row.name %></td>
              <td><%= row.email %></td>
              <td><%= row.address %></td>
              <td><%= row.phone %></td>
              <td>
                <a href="/edit/<%= row._id %>" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                <a href="/delete/<%= row._id %>" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
              </td>
            </tr>
           <% }) %>
          </tbody>
        </table>
        <% } else { %>
          <h1 class="text-center text-secondary mt-5">No users Found</h1>
          <% }  %>
     
    </div>
  </div>

  <%- include('layout/footer') %>